.banner-main {
  background: $brand-primary url('/images/banners/banner-tiny.png') center
    center / cover no-repeat;
  height: 177px;

  &-inner {
    position: relative;
    height: inherit;

    .banner-cta {
      right: 12px;
      bottom: 30px;
      position: absolute;
      margin: 0 auto;
    }
  }
}
