.home-catalog-preview-men {
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
  }

  &:nth-child(2),
  &:nth-child(3) {
    .home-catalog-preview-cta {
      display: none;
    }
  }

  &-title {
    margin: 20px 0;

    h1 {
      font-size: 30px;
      line-height: 47px;

      @include media-breakpoint-up(lg) {
        font-size: 36px;
      }
    }
  }

  &-description {
    margin-bottom: 42px;

    p {
      font-size: 20px;
      letter-spacing: 1px;
      line-height: 33px;
      max-width: 896px;
      color: $brand-secondary;
      font-family: 'Roboto';
      font-weight: 300;

      @include media-breakpoint-up(lg) {
        font-size: 25px;
      }
    }
  }

  &-filter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 24px;

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &-product {
    .product-tiles {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin-bottom: 24px;

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        display: none;

        @include media-breakpoint-up(lg) {
          display: grid;
        }
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
      }
    }
  }

  &-cta {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }

    .button {
      height: 32px;
      width: 100px;
      letter-spacing: 0.88px;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        height: 50px;
        width: 150px;
      }
    }
  }
}
