.home-content {
  @include media-breakpoint-up(lg) {
    display: flex;
    gap: 140px;
    margin-bottom: 100px;
  }

  &-image {
    background: $brand-primary url('/images/accesory/accesory.png') center
      center / cover no-repeat;
    border: 1px solid $brand-secondary;
    height: 176px;
    width: 100%;

    @include media-breakpoint-up(lg) {
      height: auto;
    }
  }

  &-main {
    @include media-breakpoint-up(lg) {
      min-width: 550px;
      width: 550px;
    }

    &-title {
      @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
      }
    }

    h1 {
      font-size: 18px;
      line-height: 33px;
      letter-spacing: 0.27px;

      @include media-breakpoint-up(lg) {
        font-size: 43px;
        letter-spacing: 0.66px;
        text-align: center;
      }
    }

    p {
      font-size: 16px;
      letter-spacing: 0.24px;
      line-height: 32px;
      font-family: 'Roboto';

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        letter-spacing: 0.33px;
        line-height: 43px;

        &:first-child {
          margin-bottom: 70px;
        }
      }
    }
  }
}
