.home-catalog-preview {
  margin-bottom: 20px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
  }

  &:nth-child(2),
  &:nth-child(3) {
    .home-catalog-preview-cta {
      display: none;
    }
  }

  &-line {
    content: '';
    height: 1px;
    background-color: $gray-tertiary;
    margin-bottom: 8px;
  }

  &-title {
    h1 {
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;

      @include media-breakpoint-up(lg) {
        font-size: 35px;
        line-height: 47px;
        margin-bottom: 22px;
      }
    }
  }

  &-product {
    .product-tiles {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      margin-bottom: 24px;

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 24px;
      }
    }
  }

  &-cta {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }

    .button {
      height: 32px;

      @include media-breakpoint-up(lg) {
        font-size: 22px;
        height: 50px;
        width: 110px;
      }
    }
  }
}
