.header-primary {
  background-color: $brand-primary;
  padding: 10px 0;

  @include media-breakpoint-up(lg) {
    margin-bottom: 20px;
  }

  .header-primary-inline {
    display: flex;
    justify-content: space-between;

    .header-menu i {
      font-size: 30px;
      color: $gray-primary;
      display: flex;
      align-items: center;
    }

    .header-search {
      form {
        border: 1px solid $gray-tertiary;
        height: 30px;
        display: flex;
        align-items: center;

        input {
          font-family: 'Roboto';
          font-style: italic;
          font-weight: 500;
          background-color: transparent;
          border: 0;
          color: $gray-primary;
          padding-left: 10px;
          width: 230px;

          &::placeholder {
            font-size: 20px;
            color: $gray-tertiary;
          }
        }

        button {
          color: $gray-tertiary;
          border: 0;
          background-color: transparent;

          i {
            font-size: 20px;
          }
        }
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      color: $gray-tertiary;
      text-transform: uppercase;

      a {
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $gray-primary;
        }
      }
    }
  }
}
