.header-secondary {
  display: flex;
  justify-content: space-between;

  .header-logo {
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
  }

  .header-controls ul {
    display: flex;
    gap: 20px;

    i {
      font-size: 22px;
    }
  }
}
