.button {
  background-color: transparent;
  border: 1px solid $brand-primary;
  display: inline-block;
  text-align: center;
  text-transform: lowercase;
  width: 112px;
  height: 50px;
  cursor: pointer;

  &-uppercase {
    text-transform: uppercase;
  }

  &-small {
    font-size: 12px;
    height: 25px;
    width: 75px;
  }

  &-large {
    width: 206px;
    height: 42px;
    border: 1px solid $white-tertiary;
    font-size: 16px;
  }

  &-black {
    background-color: $brand-primary;
    color: $white-primary;
  }

  &-mobile {
    background-color: $white-primary;
    border: none;
    width: 70px;
    height: 20px;
    font-size: 10px;
  }

  &-anchor {
    padding: 8px 0;
  }
}
