.footer-nav {
  background-color: $brand-secondary;
  color: $gray-primary;
  text-align: center;

  @include media-breakpoint-up(lg) {
    background: none;
    color: inherit;
    font-family: inherit;
  }

  h1 {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    padding: 30px;
  }

  &-main {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 38px;
    justify-content: space-evenly;
    max-width: 540px;
    margin: 0 auto;
    display: flex;

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 22px;
      font-family: inherit;
      text-align: left;
      font-weight: 500;
      flex-direction: row-reverse;
    }

    ul {
      @include media-breakpoint-up(lg) {
        margin: 0 30px;
      }
    }

    &-line {
      content: '';
      width: 1px;
      background-color: $gray-primary;
    }
  }

  &-terms {
    font-size: 14px;
    font-weight: 300;
    text-decoration: underline;
    line-height: 19px;
    padding: 20px 0;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
  }
}
