@import './footer-nav';
@import './footer-connect';
@import './footer-contact';

.footer {
  background-color: $gray-secondary;

  &-inner {
    padding: 0 0 35px 0;

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      padding: 40px 12px 70px 12px;
    }
  }
}
